.Rproj.user
.Rhistory
.RData
.Ruserdata
.nc
*.nc
input/02 aus csv/*
input/03 wide csv/wide.csv
input/04 geological/classification/shapefiles/*
input/04 geological/features/*/*.csv
input/04 geological/df_all_geo.csv
input/04 geological/features/*.csv