.Rproj.user
.Rhistory
.RData
.Ruserdata
.nc
*.nc
input/02 aus csv/*
input/03 wide csv/wide.csv
input/04 geological/classification/shapefiles/*
input/04 geological/features/*/*.csv
input/04 geological/df_all_geo.csv
input/04 geological/features/*.csv
input/05 solar/Australia_GISdata_LTAy_YearlyMonthlyTotals_GlobalSolarAtlas-v2_GEOTIFF.zip
input/05 solar/Australia_GISdata_LTAy_YearlyMonthlyTotals_GlobalSolarAtlas-v2_GEOTIFF/*
input/05 solar/scaled/*
input/05 solar/df_solar.csv
